.wrapper {
  position: relative;
  margin-top: 20px;
}

.comment-vote-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-between;

  .vote-count {
    font-size: 30px;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;

  .comment-body {
    font-size: 25px;
  }

  .comment-author {
    color: lightgray;
    font-size: 15px;
  }
}

.actions-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;

  svg {
    cursor: pointer;
  }
}
